aboutschema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="about">
  <xs:complexType>
  <xs:element name="route">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transport" type="xs:string"/>
        <xs:element name="nearest" type="xs:string"/>
        <xs:element name="desc" type="xs:string"/>
		</xs:sequence>
	  </xs:complexType>
  </xs:element>
  <xs:element name="places">
    <xs:complexType>
	<xs:element name="spot">
    <xs:complexType>
	<xs:sequence>
        <xs:element name="name" type="xs:string"/>
		<xs:element name="details" type="xs:string"/>
		<xs:element name="image"type="xs:string"/>
		<xs:attribute name="pid" use="required" type="xs:string"/>
      </xs:sequence>
	  </xs:complexType>
  </xs:element>
  </xs:complexType>
  </xs:element>
  
  <xs:element name="weather">
    <xs:complexType>
      <xs:sequence>
  <xs:element name="celsius" type="xs:decimal"/>
  <xs:element name="fahrenheit" type="xs:decimal"/>
  <xs:element name="type" type="xs:string"/>
  
      </xs:sequence>
	  </xs:complexType>
	  </xs:element>
	  </xs:complexType>
	  </xs:element>
</xs:schema>  
